練習題.txt
pratice1/pratice1.sln
pratice1/.vs/pratice1/DesignTimeBuild/.dtbcache.v2
pratice1/.vs/pratice1/v16/.suo
pratice1/.vs/pratice1/v16/TestStore/0/001.testlog
pratice1/.vs/pratice1/v16/TestStore/0/testlog.manifest
pratice1/pratice1/bin/
pratice1/pratice1/obj/Debug/net5.0/pratice1.assets.cache
pratice1/pratice1/obj/project.assets.json
pratice1/pratice1/obj/pratice1.csproj.nuget.dgspec.json
pratice1/pratice1Tests/bin/Debug/
pratice1/pratice1Tests/obj/Debug/
pratice1/pratice1Tests/obj/
pratice1/pratice1/obj/
pratice1/pratice1Tests/pratice1Tests.csproj
pratice1/pratice1Tests/pratice1Tests.csproj.user
pratice1/.vs/
